.buttonContainer {
    display: flex;
}

.buttonGreen {
    background-color: #4CAF50;
    color: black;
    border: 1px solid white;
    border-radius: 3px;
    flex: 1;
}

.buttonGreen:hover {
    background-color: #348237;
    border: 1px solid white;
}

.buttonGreen:active {
    background-color: #348237;
    border: 1px solid #348237;
}

.buttonBlue {
    background-color:#637ca8;
    border-radius:2px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    font-weight:bold;
    padding:20px 50px;
    text-decoration:none;
    border: 1px solid #637ca8;
    flex: 1;
    width: 200px;
    height: 75px;
}

.buttonBlue:hover {
    background-color:#37567d;
    border: 1px solid #37567d;
}

.buttonBlue:active {
    position:relative;
    top:1px;
}
