.registerButton {
    background-color:#637ca8;
    width: 200px;
    height: 75px;
    border-radius:2px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    font-weight:bold;
    padding:20px 50px;
    text-decoration:none;
    border: 1px solid #637ca8;
}

.registerButton:hover {
    background-color:#37567d;
    border: 1px solid #37567d;
}

.registerButton:active {
    position:relative;
    top:1px;
}