@font-face {
    font-family: "CustomFont";
    src: url('../assets/font/FFFFORWA.TTF') format("truetype");
}

.error {
    font-family: "CustomFont", sans-serif;
    color: red;
}

.pixel {
    font-family: "CustomFont", sans-serif;
}

.pixelDark {
    font-family: "CustomFont", sans-serif;
    color: black;
}