.buttonGreen {
    background-color: #4CAF50;
    color: black;
    border: 1px solid white;
    border-radius: 3px;
}

.buttonGreen:hover {
    background-color: #348237;
    border: 1px solid white;
}

.buttonGreen:active {
    background-color: #348237;
    border: 1px solid #348237;
}